img {
    width: 650px; height: 500px;
 }
 
 
 h1 {
     text-align: center;
     font-family: 'Times New Roman';
     font-size: 30px;
 }
 
 h2 {
     font-size: 25px;
     font-family: 'Times New Roman';
 }
 
 

 body {
     background: url(../images/mobilephone.jpg)  no-repeat;
     background-size:cover;
 }
 
 ul li {
     font-family: 'Times New Roman';
     font-size: 16px;
 }
 
 